{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [ 1, "single", "avoid-escape" ],
    "semi": [0, "never"],
    "react/jsx-curly-spacing": [ 2, "always" ],
    "react/jsx-indent": [ 2, 2 ],
    "no-undef": [ 1 ]
  }
}