@import "../../variables";

tfoot {
  tr {
    td {
      padding: 5px;
      .pagination-buttons {
        float: right;

        button {
          margin: 0;
          padding: 0 10px;
          border: none;
          color: $theme-color;
          background-color: transparent;
          font-weight: 600;
          cursor: pointer;

          &:first-child {
            border-right: 2px solid $theme-color;
          }

          &:hover {
            text-decoration: underline;
          }

          &:disabled {
            cursor: default;
            opacity: 0.6;
            text-decoration: none;
          }
        }
      }
    }
  }
}