@import "../../variables";

.story-description-wrapper {
  position: relative;
  min-height: 400px;
  font-size: 1em;
  text-align: left;
  background: #f6f6ef;
  
  .story-header {
    background-color: $theme-color;
    color: #fff;
    font-weight: 500;
    padding: 5px;
  }
  
  .story-description {
    padding: 6px 12px;

    .story-title {
      padding: 5px 0;
      font-size: 1.2em;
      font-weight: 500;
      padding-left: 12px;
      position: relative;

      .upvote-button {
        position: absolute;
        left: -2px;
        top: 8px;
      }
    }

    .story-text {
      padding-left: 12px;
    }

    .comments-section {
      padding: 10px;

      .comment-wrapper {
        margin-bottom: 20px;
        position: relative;
        margin-left: 10px;

        .comment-meta {
          margin-bottom: 4px;
          color: #828282;
          font-weight: 500;
        }

        .upvote-button {
          position: absolute;
          left: -16px;
          top: 3px;
        }
      }

    }
  }
}